@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}
   
li a:hover {
    font-weight: 900;
}
   
ul li {
    float: left;
    padding-top: 2ch;
    padding-left: 4ch;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    font-weight: 500;
    float: right;
    margin-right: 2em;
}

nav li {
    list-style: none;
}

h2 {
    font-weight: bolder;
}

.container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "logo . . idioma"
        "logo navbar navbar navbar"; 
}

.navbar {
    grid-area: navbar;
}

.logo {
    grid-area: logo;
}

.logo a {
    float: left;
    margin-left: 2em;
    margin-top: 2ch;
}

.logo img {
    width: 12vw;
    height: 8vh;
}

.idioma {
    grid-area: idioma;
    margin-right: 2em;
    margin-top: 2em;
}

.idioma span {
    float: right;

}

h2 {
    font-weight: bolder;
}


.banner {
    width: 100vw;
    height: 22vh;
    background: rgb(51,92,103);
    background: linear-gradient(180deg, rgba(51,92,103,1) 0%, rgba(77,11,84,1) 35%, rgba(236,154,91,1) 100%);
    color: white;
    text-align: justify;
}

.banner h2 {
    padding-bottom: 1ch;
}

.banner-content {
    padding: 2.5em;
    margin-left: 2%;
}

.content {
    margin: 3%;
    text-align: justify;
}

.content h2 {
    color: #4d0b54;
    padding-bottom: 1ch;
}

.title {
    margin-left: 2%;
}
form {
    margin-top: 3%;
    margin-left: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80vw;
}

.field {
    width: 30rem;
    margin-top: 2ch;
}
label {
    display: block;
}

input {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    background-color: #ecf0f4;
    width: 100%;
}

button {
    width: 11vw;
    height: 5vh;
    margin: 3% 0;
    background-color: #4d0b54;
    color: white;
    font-weight: bolder;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.required {
    color: red;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    background: #335C67;
    height: 12vh;
    color: white;
    line-height: 1.75rem;
    font-weight: 600;
    bottom: 0;
}

.footer-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 3%;
}

.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3%;
}

.links a {
    color: white;
}

.icon {
    padding-left: 5px;
    padding-right: 5px;
}

footer li {
    list-style: none;
}