@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}
   
li a:hover {
    font-weight: 900;
}
   
ul li {
    float: left;
    padding-top: 2ch;
    padding-left: 4ch;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    font-weight: 500;
    float: right;
    margin-right: 2em;
}

nav li {
    list-style: none;
}

h2 {
    font-weight: bolder;
}

.container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "logo . . idioma"
        "logo navbar navbar navbar"; 
}

.navbar {
    grid-area: navbar;
}

.logo {
    grid-area: logo;
}

.logo a {
    float: left;
    margin-left: 2em;
    margin-top: 2ch;
}

.logo img {
    width: 12vw;
    height: 8vh;
}

.idioma {
    grid-area: idioma;
    margin-right: 2em;
    margin-top: 2em;
}

.idioma span {
    float: right;

}

.banner {
    width: 100%;
    height: 33vh;
    background-image: url(../img/lupa-old-cropped.jpg);
    background-size: cover;
}

.about {
    width: 80vw;
    margin: 8vh auto;
    text-align: center;
}

.about h2 {
    padding-bottom: 2%;
    font-weight: bolder;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
}

.card > * {
    margin: 1vh 0;
}

.card p {
    width: 17vw;
    height: 12vh;
}
.ambits h2 {
    margin-left: 4%;
}

.info-btn {
    background-color: #4D0B54;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    height: 4ch;
    width: 9vw;
    font-weight: bold;
}

.link-btn {
    color: white;
    text-decoration: none;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    background: #335C67;
    height: 12vh;
    color: white;
    line-height: 1.75rem;
    font-weight: 600;
    bottom: 0;
}

.footer-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 3%;
}

.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3%;
}

.links a {
    color: white;
}

.icon {
    padding-left: 5px;
    padding-right: 5px;
}

footer li {
    list-style: none;
}
